
.view-p
{
	text-align:center;
	padding:5px 5px;
	border-radius:17px;
	background-color:white;
	width:50%;
	margin:auto;
	color:black;
	cursor:pointer;
	font-weight:900;
}

.scaled:hover .scaled-img{
	    transform:scale(1.1) !important;
	    transition:all 0.8s ease;
}

.hover-overlay:hover{
	    background: rgba(58, 32, 62, 0.86) !important;
	    opacity: 0.5;
}
#footer .social-icon-list a
{
	color: #3a203e;
}

#footer .social-icon-list a:hover{
	transform: scale(1.1);
}

#footer .social-icon-list li a
{
	background-color: white;
	/*border: 1px solid #3a203e;*/
}

h3:after
{
	background: white !important;
}
.hvr-bounce-to-right:before
{
	background: #9a748a !important;
}
.hvr-sweep-to-right
{
	/*display: none !important;*/
}

.nav-menu .nav>li>a:hover span[class^="icon"]{
	color: white !important;
}
.my-active
{
	color:white !important;
    border-bottom: 5px solid white !important;
}

.nav-menu .nav>li>a:hover {
    color: white !important;
    border-bottom: 5px solid white !important;
    background: 0 0;
}

.my-border
{
	border:1px solid white !important;
}

footer
{
	background-color: #3a203e !important;
}
.item-desc
{
	background-color: #d7d7d7 !important;
}
.icon-font
{
	color: #fff !important;
}

.bg-color3
{
	background: rgba(58, 32, 62, 0.44) !important;
}

.bg-color2
{
	background: rgba(58, 32, 62, 0.6) !important;
}

.bg-color1
{
   background: rgba(58, 32, 62, 0.76) !important;
}

.banner.base .line-title
{
	background-color: #f1f2f8;
}

.banner,.line-box
{
	border-color: #3a203e !important;
}
.banner,.base
{
	background: #fff !important;
    color: #3a203e !important;
}

.search-slide
{
	margin-top: 2%;
}

.search-bar
{
	background-color: rgba(58, 32, 62, 0.56) !important;
}

.nav-menu .fa
{
	color: #3a203e !important; 
}
.navbar
{
	border-radius: 0px;
	border-bottom: 1px solid white !important;
}

.bg-color{
	background-color:#3a203e !important;
}

.color
{
	color: #3a203e;
}
.btn-primary
{
	background-color: #3a203e !important;
}

.btn-primary:hover
{
	background-color: white;
	color:#3a203e;
}

.nav-menu .navbar 
{
	background-color: #3a203e;
}

.login .form-box 
{
	max-width:100%;
	margin-left:25%;
}

.form-box
{
	padding: 10px;
}

.pad
{
	padding-right:5px;
}

.modal-body
{
	background-color: #f1f2f8;
    overflow: auto;
}

.modal-backdrop 
{
	z-index: 9 !important;
}

.modal-content
{
	padding-bottom: 0px;
    border-radius: 10px;
    padding: 0px;
    margin-bottom: 20px;
    background-color: transparent;
}

.form-group i
{
	color:#558b2f !important;
}

.hover-overlay
{
	padding-top: 15%;
	cursor: default;

}

.view-h2
{
	font-size: 30px;
}

.p-hide-search
{
	display: none;
}


@media only screen and (min-width: 769px) and (max-width: 920px){
	.view-h2
	{
		font-size:20px !important;
	}

	.view-p
	{
		font-size:8px !important;
	}
}

@media only screen and (max-width:767px){
	.navbar-collapse li:last-child 
	{
		display: none !important;
	}

	.p-hide-search
	{
		display: block;
		padding-top: 5px;
	}

}

@media only screen and (max-width:767px){
	.pad
	{
		padding-right:0px;
	}
}

@media only screen and (min-width:769px) and (max-width:960px){
	.hover-overlay
	{
		padding-top:5% !important;
	}
}
<<<<<<< HEAD
.padding-zero{
	padding:  3px;
}
.img-thumbnail{
	cursor: pointer;
}
.img-height{
	height:169px;
	text-align:center;
}

.img-height img
{
	height:163px !important;
	width: 240.5px;
}

.img-height-main
{
	padding-bottom: 20px;
	text-align: center;
	overflow: hidden;
	/*padding-left: 0px;*/
	/*padding-right: 0px;*/
}

.mymain-img{
	height: 330px;
	width: 488px;
	margin: auto;
}

.feedbacktextarea{
	resize: none;
	min-height: 25px !important;
}
.centerarea{
	width: 203px;
}

.footer-form-btn
{
	background-color: #946e91 !important;
    width: 203px;
    border-top: 1px solid #3a203e;
}
@media only screen and (max-width:500px){
	.img-height-main img
	{
		max-height: 225px;

	}
	.centerarea{
		margin: auto;
		width: 194px;
	}

	.footer-form-btn
	{
		width: 194px;
	}

}
